<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject">
        <activity
            android:name=".ParentCoins"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChildRewardList"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChildTaskList"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ParentCart"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewTask"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewReward"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ParentRewardsList"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ParentTasksList"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ParentRewardMenu"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ParentPasswordFirst"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ParentPassword"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ParentMainMenu"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChildMainMenu"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>